Evolución de los Precios de la Electricidad
===

# Instrucciones

En el archivo `precios.zip`  se encuentran los archivos `Precio_Bolsa_Nacional_($kwh)_ano.xls` en formato de Microsoft Excel, los cuales contienen los precios históricos horarios de la electricidad para el mercado eléctrico Colombiano entre los años 1995 y 2017 en COL-PESOS/kWh. A partir de la información suministrada realice las siguientes actividades.

**1.--** Lea los archivos y cree una tabla única concatenando la información para cada uno de los años. Debe transformar la tabla de tal forma que quede con las columnas `Fecha`, `Hora` y `Precio` (únicamente tres columnas).

**2.--** Compute e imprima el número de registros con datos faltantes.

**3.--** Compute e imprima el número de registros duplicados.

**4.--** Elimine los registros con datos duplicados o datos faltantes, e imprima la cantidad de registros que quedan (registros completos).

**5.--** Compute y grafique el precio primedio diario.

**6.--** Compute y grafique el precio máximo por mes.

**7.--** Compute y grafique el precio mínimo mensual.

**8.--** Haga un gráfico para comparar el precio máximo del mes (para cada mes) y el precio promedio mensual.

**9.--** Haga un histograma que muestre a que horas se produce el máximo precio diario para los días laborales.

**10.--** Haga un histograma que muestre a que horas se produce el máximo precio diario para los días sabado.

**11.--** Haga un histograma que muestre a que horas se produce el máximo precio diario para los días domingo.

**12.--** Imprima una tabla con la fecha y el valor más bajo por año del precio de bolsa.

**13.--** Haga una gráfica en que se muestre el precio promedio diario y el precio promedio mensual.

---

# Solución

In [1]:
# Libraries

import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
from os import listdir
import glob

%matplotlib inline

**1.--** Lea los archivos y cree una tabla única concatenando la información para cada uno de los años. Debe transformar la tabla de tal forma que quede con las columnas `Fecha`, `Hora` y `Precio` (únicamente tres columnas).

In [88]:
path = 'precios/'
files = listdir(path)
file_names = [f'{path}{file}' for file in files if (file.endswith('xls') or file.endswith('xlsx'))]
file_names.sort()
file_names

['precios/Precio_Bolsa_Nacional_($kwh)_1995.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_1996.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_1997.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_1998.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_1999.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2000.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2001.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2002.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2003.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2004.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2005.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2006.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2007.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2008.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2009.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2010.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2011.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2012.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2013.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2014.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2015.xlsx',
 'precios/Precio_Bolsa_Nacional_($kwh)_2016.xls',
 'precios/Precio_Bolsa_Nacional_($kwh)_2017.xls',
 'precios/Precio_Bolsa_Nacional_($kwh)_2018.xls']

In [180]:
def read_data_file(path):
    '''
    Reads the data from the xlsx files, deleting nan heads values
    '''
    
    index = 0
    data = pd.read_excel(path, skiprows=index)
    data.iloc[:,0] = data.iloc[:,0].astype(str)
    while data.iloc[0,0] != 'Fecha':
        data = pd.read_excel(path, skiprows=index, usecols=list(range(25)))
        data.iloc[:,0] = data.iloc[:,0].astype(str)
        index += 1
    data = pd.read_excel(path, skiprows=index, usecols=list(range(25)))
    data.iloc[:,0] = data.iloc[:,0].astype(str)
    return data

In [181]:
dfs = []
for file in file_names:
    dfs.append(read_data_file(file))
dfs = pd.concat(dfs)

In [190]:
# Pivots hours (columns) as rows
result=pd.melt(dfs,id_vars=['Fecha'], var_name='Hora', value_name='Precio')

# Formats the date
result['Fecha'] = pd.to_datetime(result['Fecha'], format='%Y-%m-%d')
result.tail()

            Fecha Hora     Precio
201811 2018-05-01   23  64.229226
201812 2018-05-02   23  67.832816
201813 2018-05-03   23  63.710848
201814 2018-05-04   23  64.043453
201815 2018-05-05   23  75.242918

**2.--** Compute e imprima el número de registros con datos faltantes.

In [191]:
result.isnull().sum().sum()

454

**3.--** Compute e imprima el número de registros duplicados.

In [198]:
duplicated = result[result.duplicated()]
duplicated = duplicated.dropna()
duplicated

            Fecha Hora      Precio
531    1996-12-06    0   20.000000
532    1996-12-07    0    9.800000
533    1996-12-08    0   13.200000
534    1996-12-09    0   13.000000
535    1996-12-10    0   12.000000
536    1996-12-11    0    4.000000
537    1996-12-12    0    3.000000
538    1996-01-02    0   10.000000
539    1996-01-03    0   12.000000
540    1996-01-04    0   12.800000
541    1996-01-05    0   18.000000
542    1996-01-06    0   14.000000
1273   1998-01-03    0  124.770920
1274   1998-01-04    0  107.229920
1275   1998-01-05    0   92.178920
1276   1998-01-06    0  124.451920
1277   1998-01-07    0  125.884920
1278   1998-01-08    0  127.178920
1279   1998-12-16    0   21.146150
1280   1998-12-17    0   21.146150
1281   1998-12-18    0   21.146150
1282   1998-12-19    0   21.146150
1283   1998-12-20    0   21.146150
1284   1998-12-21    0   19.821150
1285   1998-12-22    0   19.821150
1286   1998-12-23    0   19.821150
1287   1998-12-24    0   19.817150
1288   1998-12-25    0   25.146150
1289   1998-12-26    0   19.821150
1290   1998-12-27    0   19.821150
...           ...  ...         ...
197998 2007-01-03   23   57.598943
197999 2007-01-04   23   68.098943
198000 2007-01-05   23   71.098943
198001 2007-01-06   23   75.098943
198002 2007-01-07   23   84.598943
198003 2007-01-08   23   85.198943
198004 2007-01-09   23   85.498943
198005 2007-01-10   23   87.598943
198006 2007-01-11   23   90.598943
198007 2007-01-12   23   93.098943
198008 2007-01-13   23   96.598943
198009 2007-01-14   23   95.598943
198010 2007-01-15   23   92.598943
198011 2007-01-16   23   80.657943
198744 2009-12-16   23  266.856503
198745 2009-12-17   23  256.456503
198746 2009-12-18   23  253.456503
198747 2009-12-19   23  251.956503
198748 2009-12-20   23  248.456503
198749 2009-12-21   23  201.456503
198750 2009-12-22   23  104.194503
198751 2009-12-23   23  121.175503
198752 2009-12-24   23  117.144503
198753 2009-12-25   23  144.465188
198754 2009-12-26   23  138.456503
198755 2009-12-27   23  116.956503
198756 2009-12-28   23  114.216503
198757 2009-12-29   23  119.456503
198758 2009-12-30   23  117.456503
198759 2009-12-31   23  130.607392

[1759 rows x 3 columns]

In [200]:
print(f'duplicated.shape[0]

Fecha     1759
Hora      1759
Precio    1759
dtype: int64

---